<p></p>

<div>
    <li *ngFor="let post of posts">
         <a  href="{{post.path}}">
            <span  style="font-size: 20px;text-align: center;">
                {{post.title}}
            </span>
        </a>
    </li>
</div>